<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico"/>
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<nav id="nav-header" name="nav-header">
			<img src="../../images/logo.png" id="logo">
			<div id="nav-form-holder">
				<form method="GET" action="/login" class="nav-form">
				<input type="submit" value="Login" class="nav-button">
				</form>
				<form method="GET" action="/register" class="nav-form">
				<input type="submit" value="Register" class="nav-button">
				</form>
			</div>
			
		</nav>
	</header>
	<main>
