<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{#if darkmode}}
		<link rel="stylesheet" type="text/css" href="{{ styles 'style_dark.css' }}">
	{{else}}
		<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	{{/if}}
	<link rel="icon" type="image/x-icon" href="../../images/favicon.ico" />
	<title>Project Brainrot</title>
</head>

<body>
	<header>
		<nav id="nav-header" name="nav-header">
			<img src="../../images/logo.png" id="logo">
			<div id="nav-form-holder">
				<form method="post" action="/search" class="nav-search-form">
					<input type="search" placeholder="Search for a player" class="nav-search-input" name="username">
					<select name="platform" class="nav-button">
						<option value="PC">PC</option>
						<option value="XBOX">XBOX</option>
						<option value="PSN">PSN</option>
					</select>
				</form>
				{{#if isLoggedIn}}
				<form method="GET" action="/logout" class="nav-form">
					<input type="submit" value="Logout" class="nav-button">
				</form>
				<form method="GET" action="/search/linked" class="nav-form">
					<input type="submit" value="Stats" class="nav-button" id="linked-stats" />
				</form>
				<form method="GET" action="/users/edit" class="nav-form">
					<input type="submit" value="Profile" class="nav-button" id="edit-profile">
				</form>
				{{else}}
				<form method="GET" action="/login" class="nav-form">
					<input type="submit" value="Login" class="nav-button">
				</form>
				<form method="GET" action="/register" class="nav-form">
					<input type="submit" value="Register" class="nav-button">
				</form>
				{{/if}}
			</div>
		</nav>
	</header>
	<main>