<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<nav id="nav-header" name="nav-header">
			<img src="../../images/logo.png" id="logo">
			<ul>
				<li><a href="{{ path '' }}">Login</a></li>
				<li><a href="{{ path '' }}">Register</a></li>
			</ul>
		</nav>
	</header>
	<main>
