{{> Header }}

<h1>Homepage!</h1>

<nav id="nav-header-search" name="nav-search">
    <img src="../../images/Picture1.png">

    <ul>
        <li>Login</li>
        <li>Register</li>
    </ul>
   
</nav>

{{> Footer }}
