{{> Header}}

<div class="auth-form-container">
	<form method="POST" action="/login" class="auth-form" id="login-form">
		<h2>Login</h2>
		{{#if error}}
		<p id="error"> {{error}}</p>
		{{/if}}
		{{#if emailCookie}}
		<label>
			<input type="text" name="email" value="{{emailCookie}}" class="auth-form-input" placeholder="Email">
		</label> 
		{{else}}
		<label>
			<input type="text" name="email" class="auth-form-input" placeholder="Email">
		</label> 
		{{/if}}
        <label>
            <input type="password" name="password" class="auth-form-input" placeholder="Password">
        </label> 
		<div id="remember-container" class="checkbox-container">
			<input id="remember" type="checkbox" name="remember" class="form-checkbox">
  			<label id="remember-label" for="remember" class="form-label"> Remember me</label>
		</div>
		<input type="submit" value="Login" class="form-submit-button" id="login-form-submit-button">
		<p>Don't have an account?<a href="/register"> Sign Up</a></p>
	</form>
</div>

{{> Footer}}