{{> Header }}

<h1>Search</h1>

{{#if error}}
<p id="error"> {{error}}</p>
{{/if}}
<form method="POST" action="/search" id="search-form">
	

	<input type="text" name="username" placeholder="Username">
  	<select name="platform">
    	<option value="PC">PC</option>
    	<option value="XBOX">XBOX</option>
    	<option value="PSN">PSN</option>
  	</select><br>
	
	<input type="submit" value="Search" id="search-form-submit-button">
</form>
{{> Footer}}