{{> Header }}


<h1>Stats</h1>

<form method="POST" action="/profile"> 
    <label>
        Is this your profile?
    </label>
    <input type="submit" value="Claim" id="search-form-submit-button">
</form>

{{> Footer }}
