* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Tahoma, Serif;
    color: #ECEFF1;
    background-color: #121212;
  }
  h1{
    display: flex;
    align-items: center;
  }
  
  #nav-header {
    background-color: #1F2937;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .map-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .map-data .current-map-data,
  .map-data .next-map-data {
    text-align: center;
  }
  
  #nav-form-holder {
    display: flex;
    align-items: center;
  }
  
  .nav-form {
    display: flex;
  }
  
  .nav-button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 15px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #fff;
    color: #1F2937;
  }
  
  #logo {
    width: 30px;
    height: auto;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .grid-container {
    display: grid;
    flex-direction: column;
    grid-gap: 10px;
  }
  
  .grid-item {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
  }
  
  .grid-item span {
    font-weight: bold;
  }
  
  .auth-form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  
  #edit-profile-form {
    margin-top: 70px;
    width: 25%;
  }
  
  .auth-form {
    background-color: #1E1E1E;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  #error {
    padding: 5px;
    margin: 5px;
    color: #FF5252;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #B0BEC5;
  }
  
  .auth-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #121212;
    color: #ECEFF1;
    box-sizing: border-box;
  }
  
  .favourites-form{
    background-color: #121212;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin:3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .favourite-container {
    display: flex;
    align-items: center;
}
.stats-header{
    display: flex;
    flex-direction: row;
}
#favourite-form {
    display: inline;
}

.favourite-checkbox {
    display: none; /* Hide the actual checkbox */
}

.favourite-star {
    font-size: 2em;
    color: grey;
    cursor: pointer;
    transition: color 0.3s;
}

.favourite-checkbox:checked + .favourite-star {
    color: gold;
}

  .form-submit-button {
    background-color: #3B82F6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-submit-button:hover {
    background-color: #2563EB;
  }
  
  p {
    margin-top: 20px;
    color: #B0BEC5;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1F2937;
    padding: 10px;
    color: #ECEFF1;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-checkbox {
    margin-right: 10px;
  }
  
  .form-label {
    margin-top: 10px;
    color: #B0BEC5;
  }
  
  .nav-search-form {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .nav-search-input {
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #121212;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s;
    margin-right: 10px;
  }
  
  .nav-search-input:hover, .nav-search-input:focus {
    border-color: #3B82F6;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .edit-profile-form label {
    display: block;
    margin-bottom: 10px;
    color: #B0BEC5;
  }
  
  .edit-profile-form input[type="text"],
  .edit-profile-form input[type="checkbox"],
  .edit-profile-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #121212;
    color: #ECEFF1;
    box-sizing: border-box;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .hamburger-menu {
    width: 35px;
    height: 25px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .menu-bar {
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
  }
  
  .unlink-form {
    padding: 20px;
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .unlink-form label {
    display: block;
    margin-bottom: 10px;
    color: #B0BEC5;
  }
  
  .unlink-form input[type="text"],
  .unlink-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #121212;
    color: #ECEFF1;
    box-sizing: border-box;
  }
  
  .edit-form-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  
  #left-align {
    text-align: left;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Search form styling */
  .search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #333;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 5px;
  }
  
  /* Search bar input styling */
  .search-bar {
    flex: 1;
    padding: 10px 15px;
    border: none;
    width: 600px;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
    background-color: #444;
    color: #e0e0e0;
  }
  
  .search-select {
    padding: 10px 15px;
    border: none;
    border-radius: 0 25px 25px 0;
    outline: none;
    font-size: 16px;
    background-color: #007bff; /* Blue background */
    color: #fff;
    cursor: pointer;
    margin-left: -4px; /* To hide the corner */
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .map-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .map-data .current-map-data,
  .map-data .next-map-data {
    text-align: center;
  }
  
  
  .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 280px;
    max-height: 330px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
      -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    background-color: #1E1E1E;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
      -4px -4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .card-image-container {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-icon {
    font-size: 40px;
  }
  
  .card-title {
    margin: 0;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #1797b8;
    cursor: default;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  
  .card-des {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin: 0;
    font-size: 13px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #1797b8;
    cursor: default;
  }

  #stats-history-header {
    text-align: center;
  }

  .map-data-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }