* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
body {
    font-family: Arial, Tahoma, Serif;
    color: #263238;
  }  

  #nav-header {
    background-color: rgb(4, 10, 45);;
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: space-between;

  }

  #nav-form-holder {
    display: flex;
    align-items: center;
  }
  
  .nav-form {
    display: flex; /* 5 */
    
  }
  
  .nav-button {
    background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
        padding: 8px 15px; /* Adjust padding as needed */
        margin-left: 10px; /* Adjust margin between buttons as needed */
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  .nav-button:hover {
    background-color: #fff;
        color: navy;
  }

  #logo {
    width: 30px; /* Adjust width as needed */
    height: auto;
  }

  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.grid-item span {
    font-weight: bold;
}

.auth-form-container {
  display:  flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center align form contents */
}

/* Styling the form headings */
h2 {
  margin-bottom: 20px;
}

/* Styling the form labels and inputs */
#error {
  padding: 5px;
  margin: 5px;
  color: red;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left; /* Left align form labels */
}

.auth-form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Styling the submit button */
.form-submit-button {
  background-color: navy;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for the submit button */
#login-form-submit-button:hover {
  background-color: #001f3f;
}

p {
  margin-top: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#remember-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#remember {
  margin-right: 10px;
}

#remember-label {
  margin-top: 10px;
}

/* Login form */

  